@use "./reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
	color-scheme: dark;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Montserrat", sans-serif;
	@extend %unscroll;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 24px !important;
	color: white !important;
}

.swiper-button-prev,
.swiper-button-next {
	width: 40px !important;
	height: 40px !important;
}

.swiper-pagination-bullet {
	background-color: #000000 !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff !important;
}

@keyframes colorPulse {
	0% {
		color: rgb(96, 165, 255);
	}
	50% {
		color: #ffffff;
	}
	100% {
		color: rgb(96, 165, 255);
	}
}

.text-color-pulse {
	animation: colorPulse 4s infinite ease-in-out;
}
